<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ToDo</title>
    <script src="static/index.js"></script>
    <link rel="stylesheet" type=text/css media="screen" href="static/index.css">
</head>
<body>
    <h1>Best ToDo App</h1>
    
    <h3>Upcoming</h3>
    <ul id="todos">
        {% for d in data %}
        <li> <input class="check-completed" data-id="{{ d.id }}" type="checkbox" {% if d.completed %} checked {% endif %}> {{ d.description }}</li>
        {% endfor %}
    </ul>

    <h3>Create ToDo</h3>
    <form id="form">
        <input type="text" placeholder="Description" required=True name="description" id="description">
        <input type="submit">
        <div id="error" class="hidden">Oops, Something went wrong!</div>
    </form>
</body>
</html>